<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!--连接池-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/spring-test"/>
        <property name="name" value="root"/>
        <property name="password" value="root"></property>
    </bean>

    <!--创建sqlsesisonfactoryBean-->
    <bean id="sessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <!--设置别名指定实体类所在的包-->
        <property name="typeAliasesPackage" value="com.mybatis.entity"></property>
        <!--指定配置文件(映射文件)的path-->
        <property name="mapperLocations">
            <list>
                <value>classpath:mapper/*Mapper.xml</value>
            </list>
        </property>
     </bean>

    <!--创建Dao对象 MapperScannerConfigure -->
    <bean id="scanner" class="org.mybatis.spring.mapper.MapperScannerConfigurer">

        <property name="sqlSessionFactoryBeanName" value="sessionFactoryBean"/>
        <!--指定DAO接口放置的包-->
        <property name="basePackage" value="com.mybatis.dao"/>
    </bean>


</beans>